.link-item {
  text-decoration: none;
}

.job-item {
  background-color: #202020;
  padding: 25px 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .job-item {
    padding: 25px;
    padding-top: 15px;
    margin-bottom: 30px;
  }
}

.logo-title-location-container {
  display: flex;
  flex-direction: column;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .company-logo {
    height: 70px;
    width: 70px;
    margin-right: 15px;
  }
}

.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .title-heading {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.rating-container {
  padding-top: 0;
  display: flex;
  align-items: center;
}

.rating-icon {
  color: #fbbf24;
  font-size: 14px;
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .rating-icon {
    font-size: 18px;
    margin-right: 6px;
  }
}

.rating-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .rating-heading {
    font-size: 16px;
    margin: 0;
  }
}

.location-package-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-employee-container {
  display: flex;
}

.job-card-location-container {
  padding-left: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .job-card-location-container {
    margin-right: 20px;
  }
}

.location-icon {
  color: #ffffff;
  font-size: 14px;
  margin-right: 2px;
}

@media screen and (min-width: 768px) {
  .location-icon {
    font-size: 22px;
    margin-right: 6px;
  }
}

.location-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .location-heading {
    font-size: 16px;
  }
}

.employee-type-container {
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.brief-case-icon {
  color: #ffffff;
  font-size: 14px;
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .brief-case-icon {
    font-size: 22px;
    margin-right: 6px;
  }
}

.employee-type-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .employee-type-heading {
    font-size: 16px;
  }
}

.package-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .package-heading {
    font-size: 20px;
  }
}

.line {
  color: #7e858e;
  width: 100%;
}

.description-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .description-heading {
    font-size: 20px;
  }
}

.description-text {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .description-text {
    font-size: 18px;
    line-height: 1.8;
  }
}
