.skills-card-container {
  width: 50%;
  max-width: 170px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .skills-card-container {
    width: 40%;
    max-width: 190px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .skills-card-container {
    width: 30%;
    max-width: 240px;
  }
}

@media screen and (min-width: 992px) {
  .skills-card-container {
    max-width: 350px;
    margin-bottom: 60px;
  }
}

.skills-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skills-card-image {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .skills-card-image {
    height: 50px;
    width: 50px;
  }
}

.skills-card-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
